/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



a:link, a:visited, a:active {
    text-decoration:underline;
}


/* FLEXBOX PAGINA */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.wrapperContact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}







/* BARRA DE NAVEGACIÓN HEADER*/
.mainMenu {
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: flex-end;
    height: 10%;
}

.mainMenu a {
    margin: 10px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
} 






/* CONTENIDO INDEX */
.textoPrincipalIndex {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin: 125px 50px;
}


.contenidoCentro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 
}


/* BOTON  */
a.buttonContact {
    width: 100px;
    padding: 20px;
    margin-bottom: 40px;
    border: solid black 1px;
    padding: 8px;
    background-color: rgba(236, 236, 236, 0.2);
    margin: 40px;
    color: black;
    margin-bottom: 80px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* EFECTOS BOTON */
@keyframes bottonPlusWidth {
    0% {
        transform: none;
    }
    100% {
        transform: scale(1.15);
    }
}

.contenidoCentro a.buttonContact:hover {
    animation: bottonPlusWidth 1s;
    background-color: rgba(187, 187, 187, 0.2);
}














/* FOOTER */
footer {
    height: 90px;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: inherit;
}
/* Texto largo del footer */


/* Footer izquierda CAMBIE ESTO */
.footerLeft {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}
.footerSmallType {
    font-size: 6px;
    margin: 10px;
} 

.footerBigType {
    font-size: 10px;
    margin: 2.8vw 10px 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    
}

/* Footer derecha */
.footerRight {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 25px;
}
.footerRightText {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-top:10px
}

.footerRightIcons {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.enlacesFooterRight  {
    text-decoration: underline;
    color: white;
    font-size: 10px;
    
}

/* --------------CONTACT */
/* FLEXBOX */


/* FORMULARIO */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

form.formulario {
    width: 250px;
    padding: 10px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 140px;
}

form label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: inline-block;
}

form input[type="text"],
form input[type="email"]{
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

form input[type="textarea"] {
    width:250px;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}


form input[type="submit"] {
    width:100px;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid black;
    display:block;
    position: center;
	color: black;
    background-color: rgba(236, 236, 236, 0.603);
}
.buttonHover:hover {
    /* background-color: rgba(175, 175, 175, 0.603); */
    font-weight: bold;
    border: 2px solid black;

}



/* BIOGRAFIA */
/* IMAGENES BIO */

.containerArticleBiography {
    display: flex;
    flex-direction: column;
    width: 90%;
   
}

.imagesBio {
    width: 100%;
    margin: 14px;
}

.textBio {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin-left: 14px;
    margin-bottom: 12px;
}

.titleBiography {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 10px 17px;
    font-weight: bold;
}

.containerArticleBiographyLeft a, 
.containerArticleBiographyRight a  {
    text-decoration: underline;
    color: black;
}

.ultimoTextBio {
    margin-bottom: 40px;
}


 

    /* .wrapper {
      width: 360px auto;
      display: flex;
      flex-direction: row;
    }

    .textoBiografia {
        font-size: 20px;
    } */ 

    /* .imagenBiografia {
        display:flex;
        width: 40%;
        margin: 10px;     
    } */

    /* .imagenBiografia img {
        max-width: 300px;
    } */

    /* .textoBiografia {
        display: flex;
        width: 60%;
        margin: 10px;
    } */
  




 /* De 360 a 960px */ 
 @media screen and (min-width: 361px) {





    
.textoPrincipalIndex {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin: 235px 50px;
}









 }


@media screen and (min-width: 500px) {
    
    /* .footerRightIcons{
       margin-top: 20px;
   }   */
   .footerSmallType {
    font-size: 6px;
    /* margin: 5px 54px; */ 
    margin-right: 3vw;
    margin-left: 54px
} 


.footerBigType {
    margin-left: 54px;
}
.footerRightText {
    margin-right: 50px;
    margin-top:10px;
}

.footerRightIcons {
    margin-right: 50px;
}


.containerArticleBiography {
    display: flex;
    flex-direction: row;
    width: 95%;
   /* ESTE ES EL CONTENEDOR QUE TENGO QUE PONER EN EL KEYFRAME IPAD */
} 

.containerArticleBiographyLeft, 
.containerArticleBiographyRight  {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
}

.titleBiography {
    margin: 12px 43px;
}

 }


  /* Más de 960px */ 
 @media screen and (min-width: 960px) {  
    .textoPrincipalIndex {
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        margin: 110px 220px;
    }

    .footerSmallType {
        font-size: 7px;
        margin: 10px 54px;
        margin-right: 3vw;
        
    }

    .titleBiography {
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        margin: 10px 48px;
        font-weight: bold;
    }

    .containerArticleBiography {
        display: flex;
        flex-direction: row;
        width: 98%;
    }



}
    